*{
    margin: 0;
    pading: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg,#eef1f5,#e6e9f0);
}
a{
    text-decoration-line: none;
}
.nav{
    display: flex;
    background-color: #b7a1eb;
    height: 100px;
    border-radius: 20px;
    overflow:hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}
.nav .menu{
    /*hide the point next the  */
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav .menu .item{
    position: relative;
    cursor: pointer;
    padding: 0 10px;
    width: 100px;
    height: 100%;
    transition: all 0.4s ease;
}
.nav .menu .item:hover{
    background-color: #a38bdb;
}
.nav .menu .item .link{
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    color: #fff;
    overflow: hidden;
    transition: all 0.4s ease;
}
.link .fa-solid{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    transition: all 0.4s ease;
}
.link span{
    position: absolute;
    width: 100%;
    bottom: -50%;
    left: 0;
    text-align: center;
    opacity: 0;
    transition: all 0.4s ease;
}
.menu .item:hover .link span{
    opacity: 1;
    bottom: 10px;
}
.menu .item:hover .link .fa-solid{
    transform: translateY(-95%);
}